language: go

go:
  - "1.7"
  - "1.10"

git:
  depth: 1

install:
  - go install -race std
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/Sirupsen/logrus
  - go get golang.org/x/lint/golint
  - go get github.com/tools/godep
  - export PATH=$HOME/gopath/bin:$PATH

script:
  - golint .
  - godep go test -race ./...
  - godep go test -cover ./...
